In [1]:
import pandas as pd
import numpy as np

In [2]:
# Connect the required databases 
chicago_crime = pd.read_csv('https://data.cityofchicago.org/resource/ijzp-q8t2.csv')
cenus_data = pd.read_csv('https://data.cityofchicago.org/resource/kn9c-c2s2.csv')
schools = pd.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')

In [3]:
# Задание 1. Найдите общее количество преступлений, записанных в таблице Crime.
print('Total number of crimes: ', len(chicago_crime))

Total number of crimes:  1000

In [4]:
# Задание 2. Получите первые 10 строк из таблицы CRIME.
chicago_crime.head(10)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,12471943,JE360852,2021-09-03T23:58:00.000,059XX W DIVERSEY AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,SIDEWALK,True,False,...,30,19,14,1136124.0,1917995.0,2021,2021-09-10T16:48:20.000,41.931149,-87.775191,"\n, \n(41.93114931, -87.775190601)"
1,12475799,JE365462,2021-09-03T23:56:00.000,018XX S ASHLAND AVE,2250,LIQUOR LAW VIOLATION,LIQUOR LICENSE VIOLATION,RESTAURANT,False,False,...,25,31,22,1166008.0,1891358.0,2021,2021-09-10T16:48:20.000,41.857469,-87.666134,"\n, \n(41.857469102, -87.666133553)"
2,12471970,JE360884,2021-09-03T23:55:00.000,025XX W 61ST ST,0460,BATTERY,SIMPLE,APARTMENT,False,True,...,16,66,08B,1160273.0,1864120.0,2021,2021-09-10T16:48:20.000,41.782845,-87.687935,"\n, \n(41.782845127, -87.687935337)"
3,12471998,JE360851,2021-09-03T23:53:00.000,110XX S MICHIGAN AVE,051A,ASSAULT,AGGRAVATED - HANDGUN,STREET,False,False,...,9,49,04A,1178852.0,1831975.0,2021,2021-09-10T16:48:20.000,41.694232,-87.620795,"\n, \n(41.694232498, -87.620795021)"
4,12477786,JE360867,2021-09-03T23:50:00.000,019XX S HARDING AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,False,...,24,29,08A,NaN,NaN,2021,2021-09-10T16:48:20.000,NaN,NaN,NaN
5,12471992,JE360860,2021-09-03T23:45:00.000,082XX S COTTAGE GROVE AVE,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,True,False,...,8,44,15,1182995.0,1850437.0,2021,2021-09-10T16:48:20.000,41.744799,-87.605055,"\n, \n(41.744799407, -87.60505473)"
6,12471910,JE360844,2021-09-03T23:41:00.000,060XX S RACINE AVE,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,True,False,...,16,68,15,1169357.0,1864643.0,2021,2021-09-10T16:48:20.000,41.784088,-87.654615,"\n, \n(41.78408837, -87.654615414)"
7,12472442,JE361405,2021-09-03T23:35:00.000,034XX S DR MARTIN LUTHER KING JR DR,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,4,35,14,1179474.0,1882305.0,2021,2021-09-10T16:48:20.000,41.832329,-87.616983,"\n, \n(41.832329279, -87.616983146)"
8,12472594,JE361484,2021-09-03T23:30:00.000,035XX N CLARK ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,BAR OR TAVERN,False,False,...,44,6,11,1168583.0,1923729.0,2021,2021-09-10T16:48:20.000,41.946242,-87.655743,"\n, \n(41.946241881, -87.655743334)"
9,12471972,JE360853,2021-09-03T23:30:00.000,0000X N LOREL AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,29,25,14,1140719.0,1899740.0,2021,2021-09-10T16:48:20.000,41.880972,-87.758754,"\n, \n(41.880972165, -87.758753958)"

In [5]:
# Задание 3. По скольким преступлениям был произведен арест?
print('Arrests made: ', np.sum(chicago_crime['arrest']))

Arrests made:  105

In [6]:
# Задание 4. Какие уникальные виды преступлений совершались на автозаправочных станциях (GAS STATION)?
gas_station = chicago_crime.loc[chicago_crime.loc[:, 'location_description'] == 'GAS STATION']
gas_station['primary_type'].unique()

array(['THEFT', 'NARCOTICS', 'CRIMINAL DAMAGE', 'BATTERY', 'ASSAULT',
       'OTHER OFFENSE', 'WEAPONS VIOLATION', 'ROBBERY', 'BURGLARY'],
      dtype=object)

In [7]:
# Задание 5. Получите из таблицы данных переписи CENUS_DATA все районы (community areas), названия которых начинаются с буквы «B».
community_area = chicago_crime['community_area'].unique()
criminal_areas = cenus_data.loc[cenus_data.loc[:, 'ca'].isin(community_area), 'community_area_name']
criminal_areas.loc[criminal_areas.str.startswith('B')]

18    Belmont Cragin
46          Burnside
57     Brighton Park
59        Bridgeport
71           Beverly
Name: community_area_name, dtype: object

In [8]:
# Задание 6. Получите список школ в округах с 10 по 15, имеющих сертификат здоровья (healthy school certified)
schools.loc[(schools.loc[:, 'police_district'] >= 10) & 
            (schools.loc[:, 'police_district'] <= 15) & 
            (schools.loc[:, 'healthy_schools_certified_'] == 'Yes')]

,school_id,name_of_school,elementary_or_high_school,street_address,city,state,zip_code,phone_number,link_,network_manager,...,rcdts_code,x_coordinate,y_coordinate,latitude,longitude,community_area_number,community_area_name,ward,police_district,location
23,610320,Ana Roque de Duprey Elementary School,ES,2620 W Hirsch St,Chicago,IL,60622,(773) 534-4230,http://schoolreports.cps.edu/SchoolProgressRep...,Fulton Elementary Network,...,150000000000000,1158554.232,1909250.021,41.906722,-87.693003,24,WEST TOWN,26,14,"(41.90672216, -87.69300325)"
96,610063,Cyrus H McCormick Elementary School,ES,2712 S Sawyer Ave,Chicago,IL,60623,(773) 535-7252,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1155096.537,1885727.878,41.842245,-87.706336,30,SOUTH LAWNDALE,22,10,"(41.84224508, -87.706336)"
135,610227,Eli Whitney Elementary School,ES,2815 S Komensky Ave,Chicago,IL,60623,(773) 534-1560,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1149877.980,1884894.804,41.840062,-87.725508,30,SOUTH LAWNDALE,22,10,"(41.84006197, -87.7255084)"
161,610215,Francisco I Madero Middle School,MS,3202 W 28th St,Chicago,IL,60623,(773) 535-4466,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1155440.547,1885270.824,41.840984,-87.705086,30,SOUTH LAWNDALE,22,10,"(41.84098398, -87.70508585)"
235,610125,Irma C Ruiz Elementary School,ES,2410 S Leavitt St,Chicago,IL,60608,(773) 535-4825,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1162043.649,1887912.321,41.848097,-87.680781,31,LOWER WEST SIDE,25,10,"(41.84809742, -87.68078114)"
264,610216,John A Walsh Elementary School,ES,2015 S Peoria St,Chicago,IL,60608,(773) 534-7950,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1170942.070,1890439.543,41.854842,-87.648050,31,LOWER WEST SIDE,25,12,"(41.85484214, -87.64804964)"
304,610313,Jose De Diego Elementary Community Academy,ES,1313 N Claremont Ave,Chicago,IL,60622,(773) 534-4451,http://schoolreports.cps.edu/SchoolProgressRep...,Fulton Elementary Network,...,150000000000000,1160540.669,1908752.314,41.905315,-87.685720,24,WEST TOWN,1,14,"(41.90531549, -87.68572005)"
352,609872,Manuel Perez Elementary School,ES,1241 W 19th St,Chicago,IL,60608,(773) 534-7650,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1168231.034,1890840.422,41.856001,-87.657989,31,LOWER WEST SIDE,25,12,"(41.85600113, -87.6579887)"

In [9]:
# Задание 7. Вычислите средний рейтинг безопасности (Safety Score) всех школ.
print('AVG safety_score: ', np.mean(schools['safety_score']))

AVG safety_score:  49.50487329434698

In [10]:
# Задание 8. Получите список из 5 районов с наибольшим средним количеством учеников, поступивших в колледж (College Enrollments).
college = schools.loc[schools.loc[:, 'name_of_school'].str.contains('College')]
college.sort_values(['college_enrollment_number_of_students_'], 
                    ascending=False)[['college_enrollment_number_of_students_', 'community_area_name']].head(5)

     college_enrollment_number_of_students_ community_area_name
407                                    1053          NORTH PARK
279                                     967         WEST ELSDON
112                                     915             KENWOOD
517                                     881     NEAR NORTH SIDE
552                                     871                LOOP

In [11]:
# Задание 9. Найдите район с самым низким рейтингом безопасности (Safety Score), используя подзапрос.
schools.loc[schools.loc[:, 'safety_score'] == np.min(schools['safety_score'])]['community_area_name']

121    WASHINGTON PARK
Name: community_area_name, dtype: object

In [12]:
# Задание 10. Получите информацию о доходе на душу населения в районе, где рейтинг безопасности школ равен 1.
schools_area = schools.loc[schools.loc[:, 'safety_score'] == 1]['community_area_name'].str.title()
pd.merge(cenus_data, schools_area, on='community_area_name')[['ca', 'community_area_name', 'per_capita_income_']]

     ca community_area_name  per_capita_income_
0  40.0     Washington Park               13785